@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("reset.css");

html,
body {
    font-family: "Noto Sans TC" !important;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    background: url(../images/bg.jpg) top center/cover no-repeat;
    background-attachment: fixed;
}

body.inside_bg {
    background: url(../images/bg2_inside_bg.jpg) bottom center/cover no-repeat;
}

#AB {
    position: absolute;
    left: 10px;
    top: -20px;
}

.c-full-1-block * {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

.sr-only:focus,
.sr-only:active {
    color: white;
    background-color: #23d0d8;
    top: auto;
    left: calc(50% - 110px);
    width: 220px;
    height: auto;
    overflow: auto;
    margin: 10px auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1em;
    z-index: 999;
    position: absolute;
}

a:focus-visible,
.tab > ul > li:focus-visible,
.tab > ul > li input:focus-visible {
    outline: 2px #ff0004 dotted !important;
}

/* --電腦版型------------------------------------- */

#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1644px;
    width: calc(100% - 30px);
    margin: auto;
    min-height: calc(100vh - 130px);
}

header {
    min-height: 101px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    position: relative;
}

header ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1.5;
    column-gap: 30px;
    color: #fff;
    align-items: center;
    flex-wrap: wrap;
}

header ul li {
    display: flex;
    align-items: center;
}

.facebook {
    margin-left: 5px;
}

.memebr_area {
    border: #d3ecfa 1px solid;
    color: #d3ecfa;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.memebr_area::before {
    content: "";
    background: url(../images/member_ico.svg) 0 0 no-repeat;
    width: 18px;
    height: 19px;
    margin-right: 10px;
    display: block;
}

.memebr_area:hover {
    color: #333;
    background-color: rgba(250, 250, 250, 0.8);
}

.memebr_area:hover::before {
    filter: invert(1);
}

.rightsideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
}

.leftsideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: start;
}

.banner {
    display: grid;
    place-items: center;
}

.login {
    margin: 0 auto;
}

.tab {
    min-height: 472px;
    min-width: 453px;
    background: url(../images/bg_login.png) top center/cover no-repeat;
}

.tab > ul {
    display: flex;
    width: 100%;
    min-height: 47px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tab > ul > li {
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: #000;
    background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
}

.tab > ul > li.login {
    color: #20929e;
}

.tab > ul > li.on {
    background: #20619e00;
    color: #fff;
    width: 100%;
}

.logininfo {
    text-align: center;
    margin: auto;
    border-bottom: #d9e021 1px solid;
    margin: auto;
    width: 90%;
}

.tab > ul > li.on > div > img {
    margin-top: 1rem;
}

.tab > ul > li.on h2 {
    color: #fff;
    font-size: 2rem;
    margin-top: 1rem;
}

.tab > ul > li.on h3 {
    color: #dbdbdb;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.tab > ul > li > span {
    cursor: pointer;
    width: 100%;
    display: grid;
    place-content: center;
    height: 100%;
    color: #20929e;
    padding: 10px;
}

.tab > ul > li.on > span {
    color: #fff;
}

.clearboth {
    clear: both;
    text-align: center;
}

.accountarea {
    width: 100%;
    min-height: 205px;
    background-color: #1a71bd00;
    color: #fff;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.accountarea.on {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 23px;
    padding: 20px;
}

.accountarea > ul {
    display: grid;
    gap: 10px;
}

.accountarea > ul > li {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.accountarea input {
    width: calc(100% - 62px);
    padding: 6px 10px;
    font-size: 1em;
    color: #777;
    display: inline;
    border: none;
    height: 40px;
}

.inlinemenu ul {
    display: flex;
    justify-content: center;
}

.inlinemenu li a {
    background: url(../images/icon.png) left center no-repeat;
    color: #fff;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 1rem;
}

.inlinemenu li a:hover {
    color: #d9e021;
}

.loginbtn {
    display: grid;
    place-content: center;
    gap: 5px;
    width: 123px;
    height: 123px;
    border: #00ffff 2px solid;
    color: #000000;
    background: linear-gradient(to bottom, #95eed1 0%, #ededed 10%, #95eed1 30%, #57a0ff 100%);
    border-radius: 15px;
    transition: all 0.3s;
}

.loginbtn:hover {
    border-radius: 15px;
    background-color: #fff;
    color: #20929e;
    transition: all 0.3s;
}

.loginbtn span {
    font-size: 0.5em;
    line-height: 0.6em;
}

.loginbtn span a:hover {
    color: #fff;
}

.newsbtnbar {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
}

.newsbtn {
    display: grid;
    place-content: center;
    gap: 5px;
    width: 123px;
    height: 43px;
    border: #00ffff 2px solid;
    color: #000000;
    background: linear-gradient(to bottom, #95eed1 0%, #ededed 10%, #95eed1 30%, #57a0ff 100%);
    border-radius: 15px;
    transition: all 0.3s;
}

.newsbtn:hover {
    border-radius: 15px;
    background-color: #fff;
    color: #20929e;
    transition: all 0.3s;
}

.newsbtn span {
    font-size: 0.5em;
    line-height: 0.6em;
}

.newsbtn span a:hover {
    color: #fff;
}

.menu {
    display: flex;
    min-height: 171px;
    justify-content: space-between;
    gap: 10px;
}

.menu img {
    height: 80px;
}

.menu a {
    width: calc(100% / 3 - 2px);
    color: #fff;
    display: grid;
    gap: 20px;
    place-items: center;
    place-content: center;
    font-size: 1.3em;
    font-weight: 300;
    transition: 0.2s;
}

.menustyleA {
    background: url(../images/menustyleA.svg) left center/cover no-repeat;
}

.menustyleB {
    background: url(../images/menustyleB.svg) left center/cover no-repeat;
}

.menustyleC {
    background: url(../images/menustyleC.svg) left center/cover no-repeat;
}

.menu a:hover {
    background-color: #e8b144;
}

.menu li img {
    margin-bottom: 5px;
}

main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 30px;
}

/* 最新消息*/

.news-main {
    display: grid;
    width: 100%;
}

.NEWS {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    border: #ffce00 0px solid;
    place-content: start space-evenly;
    justify-self: center;
}

.newsicon {
    border-right: #ffce00 0px solid;
    display: grid;
    place-content: center;
    color: #ffce00;
    gap: 0px;
    padding: 0px;
    text-align: right;
    justify-content: right;
}

.news_ch {
    font-size: 1.563rem;
}

.news_en {
    font-size: 1.188rem;
    text-align: center;
}

.NEWS > ul {
    display: grid;
    gap: 0px;
    padding-top: 3px;
    margin: top auto;
    overflow: hidden;
}

.NEWS > ul > li {
    padding: 20px 0 0 5px;
}

.NEWS li a {
    display: block;
    color: #fff;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.NEWS li a span {
    color: #00ffff;
}

.NEWS li a:hover {
    color: #ffce00;
}

.NEWS li :hover span {
    color: #fff;
}

footer {
    width: 100%;
    color: #fff;
    font-size: 0.8em;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 55px 0;
    position: relative;
    text-align: center;
}

.footer_img {
    position: absolute;
    bottom: 65px;
    left: 10px;
    left: -390px;
}

.footerwapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 900px;
    width: 90%;
    margin: auto;
    position: relative;
}

.footerrecyle {
    display: flex;
    align-items: flex-end;
}

.footerTXT,
a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.footerTXT a:hover {
    color: #fff200;
}

.footerTXT p {
    display: inline-block;
    margin: 0 0.3em;
}

.accessibility {
    display: flex;
    align-items: flex-end;
}

.menu li a {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
}

@keyframes shake {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(5px);
    }

    100% {
        transform: translatex(0);
    }
}

.right_title {
    max-width: 843px;
    width: 90%;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.right_title.on {
    display: block;
    opacity: 1;
    height: auto;
    transition: all 0.3s;
    animation: shake 2s infinite;
    animation-duration: 5s;
}

.right_title2 {
    max-width: 843px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.right_title2.on {
    height: auto;
    opacity: 1;
    transition: all 0.3s;
    animation: shake 2s infinite;
    animation-duration: 5s;
}

.right_img {
    max-width: 677px;
    width: 100%;
    animation: pulse 2s infinite;
    animation-duration: 4s;
}

.right_img2 {
    max-width: 100px;
    width: 100%;
    animation: pulse 2s infinite;
    animation-duration: 3s;
    z-index: 5;
    margin-left: 50%;
}

.right_img3 {
    max-width: 100px;
    width: 100%;
    animation: pulse 2s infinite;
    animation-duration: 2s;
    z-index: 5;
    margin-left: 75%;
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* --內頁------------------------------------- */
/* --上方選單-START--- */

.pagemain {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
}

.headbar h1 {
    display: inline;
}

.headbar ul > li > h1 > img {
    margin: 0 0 -20px 0;
    height: 3.4rem;
}

.headbar {
    margin: 25px 0 0 0;
}

.menu li > div > a {
    padding-top: 120px;
}

.headbar a {
    color: #ffffff;
    font-size: 1rem;
    border: 0px solid;
    color: #ffffff;
    padding: 5px 15px 3px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.headbar a:hover {
    border: 0px solid #0f507e9d;
    color: #ffffff;
    background-color: #0f507e9d;
}

.headbar li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #0a2d24e5;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 2px;
}

.submenu li {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 3px 0;
}

.submenu li a {
    display: block;
    width: auto;
}

li:hover .submenu {
    display: block;
}

/* --上方選單-END--- */

.singlebar {
    margin: 2rem auto;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 50px;
    text-align: center;
    font-size: 1.25rem;
    color: #85f9ff;
    background: url(../images/bg_sintitle.png) no-repeat;
    background-position: center;
    background-size: 80%;
}

.center-vertically {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin: 1rem auto;
}

.centered-content {
    text-align: center;
    /* 样式中的其他规则 */
    color: #fff;
}

/* --以下20240403增加的------------------------------------- */

.website_im {
    width: 100%;
    max-width: 1290px;
    margin-bottom: 20px;
}

.news_b_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
    gap: 10px;
    width: 100%;
}

.news_b_1 .half {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.news_b {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 15px;
    padding: 20px 10px;
    border: 2px solid;
    border-image: linear-gradient(0deg, #0074bd, #008f97) 1;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.news_b h2 {
    color: #fff;
    font-size: 2rem;
    /* width: 23%; */
    display: grid;
    place-content: center;
    position: relative;
    /* height: 40%; */
    margin-bottom: 20px;
    border-right: 2px solid;
    border-image: linear-gradient(0deg, #0074bd, #008f97) 1;
    position: relative;
}

@media (max-width: 728px) {
    .news_b h2 {
        font-size: 1.5rem;
    }
}

.news_b.news_b2 {
    display: flex;
    flex-direction: column;
}

.news_b.news_b2 h2 {
    display: flex;
    gap: 10px;
    /* width: 100%; */
}

.news_b.news_b2 h2 {
    border-right: none;
}

.news_b ul {
    display: grid;
    gap: 8px;
}

.news_b a.news_b_link {
    border: #00ffff 1px solid;
    color: #000000;
    background: linear-gradient(to bottom, #a3fff5 0%, #00c4ae 100%);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-content: center;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.news_b a:hover {
    background: #dfdfdf;
    color: #fff;
    padding: 1px;
}

.Circularflow {
    width: 100%;
}

.information_select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 20px 0 0 0;
    justify-content: center;
    position: relative;
}

.sterp2 {
    display: grid;
    grid-template-columns: 23% 77%;
    gap: 10px;
}

.news_b .sterp2 a {
    background: linear-gradient(to bottom, #a3ffba 0%, #37ec89 100%);
    border: #37ec89 2px solid;
    transition: all 0.2s;
}

.sterp2 dl {
    display: grid;
    gap: 10px;
}

.sterp2 dd {
    display: grid;
}

.sterp2 dt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-right: 10px;
}

/*台灣地圖*/

.a_b_b {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.a_b_b a {
    display: flex;
}

.a_b1 {
    width: 35px;
    height: 35px;
}

.select {
    padding: 0 5px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
}

.taiwan_map_b22 {
    display: grid;
}

.Nationwide {
    border: #00ffff 1px solid;
    color: #000000;
    background: linear-gradient(to bottom, #a3fff5 0%, #00c4ae 100%);
    border-radius: 10px;
    padding: 10px 30px;
    display: grid;
    place-content: center;
    font-size: 1.1rem;
    transition: all 0.2s;
    width: 60%;
    margin: auto;
}

.Nationwide:hover {
    background: #37ec88b0;
    color: #fff;
    transition: all 0.2s;
}

.taiwan_map {
    max-width: 400px;
}

.taiwan_map a .st0 {
    fill: #00c4ae;
}

.taiwan_map a:hover .st0,
.taiwan_map a.active .st0 {
    fill: #a3ffba;
}

.taiwan_map a:hover .st1,
.taiwan_map a.active .st1 {
    fill: #000;
}

.st1 {
    fill: #ffffff;
}

.st2 {
    font-family: "MicrosoftJhengHeiLight";
}

.st3 {
    font-size: 24.7461px;
}

.st4 {
    font-size: 30.1457px;
    font-weight: bold;
    fill: #666666;
}

.information_select_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.information_select_1 a {
    border: #00ffff 1px solid;
    color: #000000;
    background: linear-gradient(to bottom, #a3fff5 0%, #00c4ae 100%);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-content: center;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.information_select_1 a:hover {
    background: #37ec88b0;
    color: #fff;
    transition: all 0.2s;
}

.taiwan_map_b {
    display: grid;
    grid-template-columns: 23% 77%;
    align-items: flex-start;
    margin: 20px 0;
}

.contain_t1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contain_t {
    font-size: 1.1rem;
}

.contain_t tr:nth-child(even) {
    background: rgba(255, 255, 2255, 0.15);
}

.contain_t th {
    background: linear-gradient(to bottom, #a3fff5 0%, #00c4ae 100%);
    border: #fff 1px solid;
    vertical-align: middle;
    line-height: 30px;
    color: #000;
    padding: 10px;
}

.contain_t td {
    border: #fff 1px solid;
    vertical-align: middle;
    line-height: 23px;
    padding: 10px;
}

.contain_t2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.contain_t3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.chart_block {
    display: grid;
    padding: 20px;
    background: rgba(255, 255, 2255, 0.1);
    border-radius: 15px;
    overflow-y: auto;
}

.chart_block h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.waste_block {
    display: grid;
    gap: 10px;
}

.news_b2 {
    grid-template-columns: 1fr;
}

.news_b2 ul.download_b {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.news_b2 ul.download_b li {
    display: flex;
    position: relative;
    /* border: #ffffff52 1px solid; */
    border-radius: 35px;
}

.news_b.news_b2 li.txt_btn {
    color: #fff;
    border-radius: 8px;
    background: rgba(255, 255, 2255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 15px 16px 38px;
    min-width: 220px;
    top: 0px;
    left: 0px;
    transition: 0.2s;
}
.news_b.news_b2 li.txt_btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 2255, 0.2);
    top: -2px;
    left: -2px;
}
.btn_span {
    position: relative;
}

[class*="btn_span_hightlight-"]::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 37%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.btn_span_hightlight-red::before {
    background-color: #d83d3d;
}
.btn_span_hightlight-green::before {
    background-color: #13b350;
}
.btn_span_hightlight-yellow::before {
    background-color: #dde932;
}

.news_b.news_b2 a.txt_btn:hover {
    color: #000;
    background: rgba(255, 255, 2255, 1);
}

.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.news_b.news_b2 .book_download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    border-radius: 50%;
    overflow: hidden;
}

.tablue-icon-wrap {
    background-color: #fff;
    padding: 5px;
}
.report-icon-wrap {
    background-color: #608a5f;
    padding: 8px;
}

.book_download .download-icon,
.book_download .tablue-icon {
    width: 100%;
}

.book_download span {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 300;
}

.area {
    padding: 20px;
    border: #546882 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
    background: rgba(0, 0, 0, 0.3);
}

.area h4 {
    color: #fff;
    font-size: 1.5rem;
}

h5.number {
    font-weight: 900;
    font-size: 1.5rem;
    background: linear-gradient(to top, #ffcc00, #fbdd3b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
    text-align: center;
}

.weight {
    font-size: 1rem;
}

.contain_t2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.contain_t3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.Ranking_b {
    width: 100%;
    height: 265px;
    overflow-y: auto;
    margin-top: 15px;
    padding-right: 15px;
}

table.Ranking {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

.Ranking th,
.Ranking td {
    padding: 12px 15px;
}

.Ranking thead tr {
    background-color: rgba(0, 0, 0, 0.35);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.Ranking tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Ranking tbody tr:nth-of-type(even) {
    background: rgba(255, 255, 2255, 0.15);
}

.Ranking th {
    text-align: center;
}

.Ranking th,
.Ranking td {
    border: rgba(255, 255, 2255, 0.15) 1px solid;
    vertical-align: middle;
    line-height: 23px;
    padding: 10px 25px;
}

.Ranking td {
    text-align: right;
}

/* 捲軸底色 */

.Ranking_b::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: rgba(255, 255, 2255, 0.65) 1px solid;
}

/* //捲軸寬度 */

.Ranking_b::-webkit-scrollbar {
    width: 12px;
}

/* //捲軸本體顏色 */

.Ranking_b::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 5px;
}

/* 循環流向圖 */

.flow-diagram {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 15px;
    border: 2px solid;
    border-image: linear-gradient(0deg, #0074bd, #008f97) 1;
    border-radius: 5px;
    padding: 20px;
}

.flow-diagram h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.select-wrap {
    color: #fff;
    background: rgba(255, 255, 2255, 0.15);
    border-radius: 35px;
    border: #ffffff52 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
}
.select-wrap > .select {
    border: #ffffff52 1px solid;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #ffffff00;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.select-wrap > .select:hover {
    background: rgba(255, 255, 2255, 0.3);
}
.select-wrap > .select::placeholder {
    color: #fff;
}
.select-wrap > .select > option {
    color: #000000;
}

.flow-diagram-wrap {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

@media (max-width: 768px) {
    .flow-diagram-wrap {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

.structure-one,
.structure-one-mobile {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.structure-two ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
}

@media (max-width: 768px) {
    .structure-two ul {
        flex-direction: row;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        margin-top: 30px;
        gap: 10px;
    }
}

.contain {
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.contain.active,
.structure-three-ul li {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    backdrop-filter: blur(5px);
}

.contain::before {
    content: "";
    position: absolute;
    inset: -40px 60px;
    transition: 0.5s;
}

.contain.active[class*="active-style-"]::before {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#block-1 li {
    background-color: #c57c7c5d;
}

#block-2 li {
    background-color: #c0bc7349;
}

#block-3 li {
    background-color: #509e4949;
}

#block-4 li {
    background-color: #515ab156;
}

.contain.active[class*="active-style-"]::before {
    background: linear-gradient(110deg, #f122e0, #ffffff00, #23cdeb);
    z-index: -2;
}

.contain.active[class*="active-style-"]::after {
    content: "";
    position: absolute;
    inset: 3px;
    border: 2px solid rgba(71, 71, 71, 0.111);
    border-radius: 5px;
    z-index: -1;
}

.contain.active.active-style-0::after {
    background: #c26a6a;
}

.contain.active.active-style-1::after {
    background: #bcc26a;
}

.contain.active.active-style-2::after {
    background: #86da94;
}

.contain.active.active-style-3::after {
    background: #6a8ac2;
}

.contain.active[class*="active-style-"] {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #242424;
    z-index: 10;
    border-radius: 8px;
    gap: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    background: none;
}

.structure-one i {
    position: absolute;
    right: -50px;
    font-size: 1.5rem;
}

.toggle-structure-three .sub-arrow {
    position: absolute;
    right: 40px;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .toggle-structure-three .sub-arrow {
        display: none;
    }
}

.contain,
.structure-three-li {
    cursor: pointer;
}

.structure-one,
.structure-one-mobile,
.structure-two ul li,
.contain {
    border: 1px solid rgba(255, 255, 255, 0.24);
    width: 200px;
    height: 150px;
    border-radius: 8px;
    background: rgba(255, 255, 2255, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
   font-weight: normal ;
}

.structure-two ul li span,
.structure-three-li span,
.structure-four-li span {
    font-size: 1rem;
    margin-left: 5px;
}

.structure-one-mobile {
    display: none;
}

@media (max-width: 768px) {
    .structure-two ul li,
    .contain {
        width: 100px;
        height: 100px;
        font-size: 0.8rem;
        gap: 5px;
    }

    .structure-one {
        display: none;
    }

    .structure-one-mobile {
        width: 100%;
        position: relative;
        display: flex;
    }

    .structure-one-mobile i {
        position: absolute;
        bottom: -30px;
    }
}

.structure-two ul li:hover {
    background: rgba(255, 255, 2255, 0.3);
}

.toggle-structure-three .hidden,
.structure-three .hidden {
    display: none;
}

.structure-three-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 18px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .structure-three-ul {
        margin-top: 30px;
        gap: 5px;
        font-size: 0.8rem;
        padding: 0;
    }
}

.structure-three-li {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.24);
    width: 45%;
    height: 70px;
    border-radius: 8px;
    background: rgba(255, 255, 2255, 0.15);
    transition: 0.3s;
}

.structure-three-li:hover,
.structure-four-li:hover {
    background: rgba(255, 255, 2255, 0.3);
}

.structure-three-li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 5px;
}

.structure-four-ul {
    position: absolute;
    right: -200px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .structure-four-ul {
        right: -150px;
    }
}

.structure-four-li-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .structure-four-li-wrap {
        gap: 4px;
        font-size: 0.7rem;
    }
}

.structure-four-li {
    border: 1px solid rgba(255, 255, 255, 0.24);
    width: 150px;
    height: 70px;
    border-radius: 8px;
    background: rgba(255, 255, 2255, 0.15);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .structure-four-li {
        width: 100px;
    }
}

.waste-grid-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 10px;
}
.waste-grid-1 {
    grid-column: 1 / 4;
    grid-row: 1/5;
}
.waste-grid-2 {
    grid-column: 4 / 6;
    grid-row: 1/3;
}
.waste-grid-3 {
    grid-column: 4 / 6;
    grid-row: 3/5;
}
.border-buttom-ul {
    border-bottom: 2px solid #ffffff33;
    padding-bottom: 15px;
}

.intelligent-report-wrap{
    display: flex;
    justify-content: center;
    padding: 40px 40px 60px 40px;
}
/* start:報表生成器按鈕樣式 */

.intelligent-report-btn,
.intelligent-report-btn:focus {
    position: relative;
    min-width: 300px;
    background: linear-gradient(90deg, #78b1fc, #aa86f1, #FC5C7D); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    box-sizing: inherit;
    padding: 30px 40px;
    box-shadow: inset 0 0 20px rgba(225, 51, 45, 0);
    outline: 2px solid #008f97 !important;
    outline-color: rgba(0, 247, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 4em;
}
.intelligent-report-btn:hover {
    color: #ffffff;
    border: 2px solid #e6e6e681;
    box-shadow: inset 0 0 30px rgba(16, 190, 212, 0.5), 0 0 30px rgba(4, 128, 133, 0.2);
    outline: 2px solid !important;
    outline-color: rgba(225, 51, 45, 0) !important;
    outline-offset: 25px;
}
.intelligent-report-btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgb(177, 162, 187);
    border-radius: 4em;
}
.intelligent-report-btn:active:after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 rgb(187, 187, 187);
}
.intelligent-report-btn:active {
    top: 1px;
}

/* end:報表生成器按鈕樣式 */